<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quotes/user_styles.css' %}">
  </head>
  <body>
    <div id="container">
      <div class="header">
        <a href="/success">Dashboard</a>
        <a href="/logout">Log Out</a>
      </div>
      <p>Posts by {{ user.name }}</p>
      <p>Count: {{ count }}</p>
      <div class="quotes">
        {% for quotes in user_quotes %}
          <p><span>{{ quotes.quoter }}:</span></p>
          <p>{{ quotes.quote }}</p>
          <p></p>
        {% endfor %}
      </div>

    </div>
  </body>
</html>
