* {
  padding: 0;
  margin: 0;
}
#container {
  margin: 50px;
}
.header {
  margin-bottom: 50px;
  margin-left: 800px;
}
.quotes{
  margin-top: 25px;
}
span {
  color: red;
}
.logout {
  display: inline-block;
}
